/ClassAnalysisResult.class
/ClassHierarchyGraph.class
/ClassInfo.class
/ClassMetrics.class
/CodeIssue.class
/FieldInfo.class
/GraphEdge.class
/GraphNode.class
/HeatmapData.class
/HeatmapRegion.class
/HeatmapRegionType.class
/IssueSeverity.class
/IssueType.class
/MethodCallGraph.class
/MethodInfo.class
/MethodMetrics.class
/OptimizationSeverity.class
/OptimizationSuggestion.class
/SecurityIssue.class
/SecuritySeverity.class
